<h2 style="align-content: center">Calculator</h2>

<table>
  <tr>
    <th colspan="2"><label>Number 1:
      <input type="number" [(ngModel)]="number1">
    </label></th>
    <th colspan="2"><label>Number 2:
      <input type="number" [(ngModel)]="number2">
    </label></th>
  </tr>

  <tr>
    <td>
      <button (click)="calculator('+')">SUm</button>
    </td>
    <td>
      <button (click)="calculator('-')">Sub</button>
    </td>
    <td>
      <button (click)="calculator('*')">MUL</button>
    </td>
    <td>
      <button (click)="calculator('/')">DIV</button>
    </td>
  </tr>

  <tr>
    <th colspan="4">
      <p>{{result}}</p>
   </th>
  </tr>
</table>
