<div class="heading">
  <h3>shopping cart</h3>
  <p><a href="">Trang chủ</a> / Giỏ hàng </p>
</div>

<section class="shopping-cart">

  <h1 class="title">products added</h1>

  <div class="box-container">
    <div class="box">
      <a href="" class="fas fa-times"></a>
      <img src="../../assets/image/book3.png" alt="">
      <div class="name"></div>
      <div class="price">$/-</div>
      <!--      <form action="" method="post">-->
      <input type="hidden" name="cart_id">
      <input type="number" min="1" name="cart_quantity">
      <input type="submit" name="update_cart" value="update" class="option-btn">
      <!--      </form>-->
      <div class="sub-total"> sub total : 20</div>
    </div>

    <div class="box">
      <a href="" class="fas fa-times"></a>
      <img src="../../assets/image/book3.png" alt="">
      <div class="name"></div>
      <div class="price">$/-</div>
      <!--      <form action="" method="post">-->
      <input type="hidden" name="cart_id">
      <input type="number" min="1" name="cart_quantity">
      <input type="submit" name="update_cart" value="update" class="option-btn">
      <!--      </form>-->
      <div class="sub-total"> sub total : 20</div>
    </div>


    <div class="box">
      <a href="" class="fas fa-times"></a>
      <img src="../../assets/image/book3.png" alt="">
      <div class="name"></div>
      <div class="price">$/-</div>
      <!--      <form action="" method="post">-->
      <input type="hidden" name="cart_id">
      <input type="number" min="1" name="cart_quantity">
      <input type="submit" name="update_cart" value="update" class="option-btn">
      <!--      </form>-->
      <div class="sub-total"> sub total : 20</div>
    </div>

    <div class="box">
      <a href="" class="fas fa-times"></a>
      <img src="../../assets/image/book3.png" alt="">
      <div class="name"></div>
      <div class="price">$/-</div>
      <!--      <form action="" method="post">-->
      <input type="hidden" name="cart_id">
      <input type="number" min="1" name="cart_quantity">
      <input type="submit" name="update_cart" value="update" class="option-btn">
      <!--      </form>-->
      <div class="sub-total"> sub total : 20</div>
    </div>

    <div class="box">
      <a href="" class="fas fa-times"></a>
      <img src="../../assets/image/book3.png" alt="">
      <div class="name"></div>
      <div class="price">$/-</div>
      <!--      <form action="" method="post">-->
      <input type="hidden" name="cart_id">
      <input type="number" min="1" name="cart_quantity">
      <input type="submit" name="update_cart" value="update" class="option-btn">
      <!--      </form>-->
      <div class="sub-total"> sub total : 20</div>
    </div>

  </div>



  <div style="margin-top: 2rem; text-align:center;">
    <a href="" class="delete-btn ">delete all</a>
  </div>

  <div class="cart-total">
    <p>grand total : <span>$/-</span></p>
    <div class="flex">
      <a href="" class="option-btn">continue shopping</a>
      <a href="" class="btn ">proceed to checkout</a>
    </div>
  </div>

</section>
