<main id="main">
  <div  class="container-fluid">
    <section id="hero-slider" class="hero-slider">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>List Customer:</h1>
            <p>
              <a class="addNew" >
                Add new customer
              </a>
            </p>


            <table class="table ">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Id card</th>
                <th scope="col">Phone number</th>
                <th scope="col">Customer type</th>
                <th scope="col">Address</th>
                <th scope="col" colspan="2">Option</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let temp of customers" >
                <th scope="row"> {{temp.id}}</th>
                <td>{{temp.name}}</td>
                <td>{{temp.dateOfBirth}}</td>
                <td>{{temp.gender}}</td>
                <td>{{temp.gender}}</td>
                <td>{{temp.cardId}}</td>
                <td>{{temp.customerType.name}}</td>
                <td>{{temp.address}}</td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                  </button>
<!--                  &lt;!&ndash; Modal &ndash;&gt;-->
<!--                  <div class="modal fade" id="exampleMod4al" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                      <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                          &lt;!&ndash;                                                    <h5 class="modal-title" th:id="'exampleModalLabel'+ ${row.id}">Delete</h5>&ndash;&gt;-->
<!--                          &lt;!&ndash;                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&ndash;&gt;-->
<!--                          Delete-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                          <a  ><button type="button" class="btn btn-primary" >Delete</button></a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                </td>
                <td><a >Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </section>
  </div>
</main>

