<h1 style="text-align: center">Login Form</h1>
<div class="container">
  <form [formGroup]="login" (ngSubmit)="loginSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <p style="color: red" *ngIf="login.controls.email.hasError('required')" >
        Email can't be left blank
      </p>
      <p style="color: red" *ngIf="login.controls.email.hasError('email')">
        Please enter the correct format
      </p>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" type="text" class="form-control" id="exampleInputPassword1" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
