<!-- Navbar Start -->
<div  class="container-fluid  bg-transparent" style="padding: 0">
  <nav style="background: #272882;height: 80px;" class="navbar navbar-expand-lg py-0 px-4">
    <a routerLink="/" class="">
      <div style="margin-left: 80px" class="icon p-2 ">
        <img class="img-fluid" src="../../assets/letter-c.gif" style="width: 55px; height: 55px;border-radius: 8px 0px 0px 8px"/>
        <img class="img-fluid" src="../../assets/letter-o.gif" style="width: 55px; height: 55px;"/>
        <img class="img-fluid" src="../../assets/letter-d.gif" style="width: 55px; height: 55px;"/>
        <img class="img-fluid" src="../../assets/letter-e.gif" style="width: 55px; height: 55px;"/>
        <img class="img-fluid" src="../../assets/letter-g.gif" style="width: 55px; height: 55px;"/>
        <img class="img-fluid" src="../../assets/letter-y.gif" style="width: 55px; height: 55px;"/>
        <img class="img-fluid" src="../../assets/letter-m.gif" style="width: 55px; height: 55px;border-radius: 0px 8px 8px 0px"/>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-right: 80px">
      <div  class="navbar-nav ms-auto " style="margin-right: 120px">
        <a style="color: white;font-size: 24px;font-weight: 600" routerLink="/" class="nav-item nav-link active">HOME</a>
        <a style="color: white;font-size: 24px;font-weight: 600" routerLink="/list" class="nav-item nav-link">CUSTOMER</a>
        <a style="color: white;font-size: 24px;font-weight: 600"  routerLink="/" class="nav-item nav-link">EMPLOYEE</a>
        <a style="color: white;font-size: 24px;font-weight: 600" routerLink="/list" class="nav-item nav-link">FACILITY</a>
      </div>

      <a href="" class="px-3 d-lg-flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-box-arrow-in-right text-success" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
      </a>
    </div>
  </nav>
</div>
<!-- Navbar End -->
