<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<!--    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/bootstrap.min.css}" type="text/css">-->
    <link rel="stylesheet" th:href="@{/form.css}">
    <div th:replace="~{layout :: linkCss}"></div>
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
<header th:replace="/layout :: begin"></header>


<main id="main">
    <div class="container">
        <section id="hero-slider" class="hero-slider">
            <div class="container" data-aos="fade-in">
                <div class="row">
                    <div class="col-12">
                        <form action="/facility/edit" method="post" th:object="${facility}">
                            <fieldset>
                                <legend>Edit Service:</legend>
                                <input th:field="*{id}" type="hidden" >
                                <input th:field="*{name}" name="name" type="text" class="feedback-input" placeholder="Name" />
                                <input th:field="*{area}" name="area" type="text" class="feedback-input" placeholder="Area" />
                                <input th:field="*{cost}" name="cost" type="text" class="feedback-input" placeholder="Cost" />
                                <input th:field="*{numberOfPeople}" name="numberPeople" type="text" class="feedback-input" placeholder="Number of people" />

                                <select th:field="*{rentType}" name="rentType">
                                    <option value="" selected="selected">Please choose a rental type.</option>
                                    <option th:each="temp:${rentTypes}" th:value="${temp.id}"
                                            th:text="${temp.name}" >
                                    </option>
                                </select>

                                <select th:field="*{facilityType}" id="facilityType"  name="facilityType" onclick="display()">
                                    <option value=""  selected="selected">Please choose a facility type.</option>
                                    <option th:each="temp:${facilityTypes}" th:value="${temp.id}"
                                            th:text="${temp.name}" >
                                    </option>
                                </select>

                                <input th:field="*{standardRoom}" id="standardRoom" name="standardRoom" type="text"
                                       class="feedback-input" placeholder="Standard Room" style="display: none" />
                                <input th:field="*{description}" id="otherConvenience" name="otherConvenience" type="text" class="feedback-input"
                                       placeholder="Description other convenience" style="display: none" />
                                <input th:field="*{poolArea}" id="poolArea" name="poolArea" type="text" class="feedback-input" placeholder="Pool area" style="display: none" />
                                <input th:field="*{numberOfFloor}" id="numberFloor" name="numberFloor" type="text" class="feedback-input"
                                       placeholder="Number of floor" style="display: none" />
                                <textarea th:field="*{facilityFree}" id="facilityFree" name="facilityFree" class="feedback-input" placeholder="Facility free" style="display: none"></textarea>

                                <input type="submit" value="SUBMIT"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>



<footer th:replace="/layout :: end"></footer>

<div th:replace="~{layout :: linkScript}"></div>
<script src="/jquery-3.6.0.min.js"></script>
<script>
    function display() {

        let temp = $('#facilityType').val();

        switch (temp) {
            case '1':
                $("#standardRoom").show(200)
                $("#otherConvenience").show(200)
                $("#poolArea").show(200)
                $("#numberFloor").show(200)
                $("#facilityFree").hide(200)
                break;
            case '2':
                $("#standardRoom").show(200)
                $("#otherConvenience").show(200)
                $("#poolArea").hide(200)
                $("#numberFloor").show(200)
                $("#facilityFree").hide(200)
                break;
            case '3':
                $("#standardRoom").hide(200)
                $("#otherConvenience").hide(200)
                $("#poolArea").hide(200)
                $("#numberFloor").hide(200)
                $("#facilityFree").show(200)
                break;
        }
    }
</script>
</body>
</html>