<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <div th:replace="~{layout :: linkCss}"></div>
    <link rel="stylesheet" th:href="@{/form.css}">

    <title>Title</title>
</head>

<body>
<header th:replace="/layout :: begin"></header>

<main id="main">
    <div class="container-fluid">
        <section id="hero-slider" class="hero-slider">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>List Facility:</h1>
                        <p>
                            <a class="addNew" th:href="@{/facility/create}">
                                Add new Facility
                            </a>
                        </p>
                        <div class="notify" style="color: #4CAF50;font-size: x-large">
                            <div style="color: #4CAF50;font-size: x-large" th:if="${success}">
                                <span th:text="${success}"></span>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Area</th>
                                <th scope="col">Number of people</th>
                                <th scope="col">Rent type</th>
                                <th scope="col">Facility type</th>
                                <th scope="col" colspan="2">Option</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row,rowStat:${facilities}">
                                <th scope="row" th:text="${row.id}"></th>
                                <td th:text="${row.name}">Mark</td>
                                <td th:text="${row.area}">Otto</td>
                                <td th:text="${row.numberOfPeople}">@mdo</td>
                                <td th:text="${row.rentType.name}">@mdo</td>
                                <td th:text="${row.facilityType.name}">@mdo</td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#facilityModal'+ ${row.id}">
                                        Delete
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'facilityModal'+ ${row.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure delete Name: <span th:text=" ${row.name}"></span> with ID: <span th:text=" ${row.id} "></span>?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a th:href="@{/facility/delete/{id}(id=${row.id})}" ><button type="button" class="btn btn-primary" >Delete</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a th:href="@{/facility/{id}/edit(id=${row.id})}">Edit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->
    </div>
</main>
<div>
    <a th:if ="${facilities.hasPrevious()}"
       th:href="@{/facility/list(page=${facilities.number - 1},keyword=${keywordVal})}">
        Previous
    </a>
    <span th:text="${facilities.number +1}"></span>
    /
    <span th:text="${facilities.totalPages }"></span>
    <a th:if ="${facilities.hasNext()}"
       th:href="@{/facility/list(page=${facilities.number + 1},keyword=${keywordVal})}">
        Next
    </a>
</div>


<footer th:replace="~{/layout ::end}"></footer>

<div th:replace="~{layout :: linkScript}"></div>
</body>
</html>