<div style="height: 880px" class="container-fluid mb-2 mt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="table-shadow font-label-custom customMyForm" [formGroup]="facilityAdd" (ngSubmit)="submit()">
          <fieldset style="position: relative" >
            <legend>Thêm cơ sở mới
              <i routerLink="/list" style="position: absolute;right: 0;top:0;font-size: 50px" class="bi bi-x-square-fill hover-red hover-effect-red"></i>
            </legend>
            <div style="display: flex">
              <div style="width: 50%;padding-right: 1%">
                <label for="codeFacility">Mã cơ sở <span style="color: red">(*)</span>:</label><br>
                <input id="codeFacility" formControlName="codeFacility" name="codeFacility" type="text" class="feedback-input"
                       placeholder="Mã cơ sở"/>
<!--                <p style="color: red"-->
<!--                   *ngIf="facilityAdd.controls.codeFacility.hasError('required') && facilityAdd.controls.codeFacility.touched">-->
<!--                  Code Facility can't be left blank.-->
<!--                </p>-->
<!--                <p style="color: red"-->
<!--                   *ngIf="customerAdd.controls.name.hasError('pattern') && customerAdd.controls.name.touched">-->
<!--                  Invalid format.-->
<!--                </p>-->
              </div>
              <div style="width: 50%;padding-left: 1%">
                <label for="nameFacility">Tên cơ sở <span style="color: red">(*)</span>:</label><br>
                <input id="nameFacility" formControlName="nameFacility" name="nameFacility" type="text" class="feedback-input"
                       placeholder="Tên cơ sở"/>
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.name.hasError('required') && customerAdd.controls.name.touched">-->
                <!--                  Name can't be left blank.-->
                <!--                </p>-->
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.name.hasError('pattern') && customerAdd.controls.name.touched">-->
                <!--                  Invalid format.-->
                <!--                </p>-->
              </div>
            </div>

            <div style="display: flex">
              <div style="width: 50%;padding-right: 1%">
                <label for="address">Địa chỉ <span style="color: red">(*)</span>:</label><br>
                <input id="address" formControlName="address" name="address" type="text" class="feedback-input"
                       placeholder="Địa chỉ"/>
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.name.hasError('required') && customerAdd.controls.name.touched">-->
                <!--                  Name can't be left blank.-->
                <!--                </p>-->
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.name.hasError('pattern') && customerAdd.controls.name.touched">-->
                <!--                  Invalid format.-->
                <!--                </p>-->
              </div>
              <div style="width: 50%;padding-left: 1%">
                <label for="openDay">Ngày khai trương <span style="color: red">(*)</span>:</label><br>
                <input formControlName="openDay" id="openDay" name="openDay" type="date"
                       class="feedback-input"
                       placeholder="open day"/>
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.dateOfBirth.hasError('required') && customerAdd.controls.dateOfBirth.touched">-->
                <!--                  Date of birth can't be left blank.-->
                <!--                </p>-->
              </div>

            </div>

            <div style="display: flex">
              <div style="width: 50%;padding-right:1%">
                <label for="manager">Quản lý <span style="color: red">(*)</span>:</label>
                <select id="manager" formControlName="manager" name="manager">
                  <option value="" disabled selected="selected">Hãy chọn nhân viên quản lý.</option>
                  <option *ngFor="let manager of managerList"
                          [ngValue]="manager">{{manager.nameManager}}</option>
                </select>
                <!--                <p style="color: red"-->
                <!--                   *ngIf="customerAdd.controls.customerType.hasError('required') && customerAdd.controls.customerType.touched">-->
                <!--                  Customer type can't be left blank.-->
                <!--                </p>-->
              </div>
              <div style="width: 50%;padding-left: 1%">

              </div>
            </div>
            <div style="display: flex;justify-content:center">
              <button style="font-size: 24px" type="submit" class="btn btn-success">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
