<main id="main">
  <div class="container">
    <section id="hero-slider" class="hero-slider">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form class="table-shadow font-label-custom customMyForm" [formGroup]="patientEdit" *ngIf="patientEdit"
                  (ngSubmit)="update(id)">
              <fieldset style="position: relative">
                <legend>Edit Patient
                  <i data-bs-toggle="modal"
                     data-bs-target="#exampleModal"  style="position: absolute;right: 0;top:0;font-size: 50px"
                     class="bi bi-x-square-fill hover-red hover-effect-red"></i>
                </legend>
<!--                routerLink="/list"-->
                <div style="display: flex">
                  <div style="width: 50%;padding-right: 1%">
                    <label for="id">Id <span style="color: red">(*)</span>:</label><br>
                    <input disabled id="id" formControlName="id" name="id" type="text" class="feedback-input"
                           placeholder="id"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.id.hasError('required') && patientEdit.controls.id.touched">
                      Id can't be left blank.
                    </p>
                  </div>
                  <div style="width: 50%;padding-left: 1%">
                    <label for="idPatient">Id patient <span style="color: red">(*)</span>:</label><br>
                    <input disabled formControlName="idPatient" id="idPatient" name="idPatient" type="text"
                           class="feedback-input"
                           placeholder="Id patient"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.idPatient.hasError('required') && patientEdit.controls.idPatient.touched">
                      Id patient can't be left blank.
                    </p>
                  </div>
                </div>

                <div style="display: flex">
                  <div style="width: 50%;padding-right: 1%">
                    <label for="namePatient">Name patient <span style="color: red">(*)</span>:</label><br>
                    <input formControlName="namePatient" id="namePatient" name="namePatient" type="text"
                           class="feedback-input"
                           placeholder="Name patient"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.namePatient.hasError('required') && patientEdit.controls.namePatient.touched">
                      Name patient can't be left blank.
                    </p>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.namePatient.hasError('pattern') && patientEdit.controls.namePatient.touched">
                      Name patient don't enter words.
                    </p>
                  </div>
                  <div style="width: 50%;padding-left: 1%">
                    <label for="startDate">Start date <span style="color: red">(*)</span>:</label>
                    <input formControlName="startDate" id="startDate" name="idCard" type="date" class="feedback-input"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.startDate.hasError('required') && patientEdit.controls.startDate.touched">
                      Start date can't be left blank.
                    </p>
                  </div>
                </div>
                <div style="display: flex">
                  <div style="width: 50%;padding-right:1%">
                    <label for="outDate">Out date <span style="color: red">(*)</span>:</label>
                    <input formControlName="outDate" id="outDate" name="outDate" type="date" class="feedback-input"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.outDate.hasError('required') && patientEdit.controls.outDate.touched">
                      Out date can't be left blank.
                    </p>
                    <p style="color: red"
                       *ngIf="patientEdit.hasError('checkInputDateFuture') && patientEdit.controls.outDate.touched">
                      Day is errors. Please enter day again.
                    </p>
                  </div>
                  <div style="width: 50%;padding-left: 1%">
                    <label for="namePatient">Name doctor <span style="color: red">(*)</span>:</label><br>
                    <input formControlName="nameDoctor" id="nameDoctor" name="nameDoctor" type="text"
                           class="feedback-input"
                           placeholder="Name doctor"/>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.nameDoctor.hasError('required') && patientEdit.controls.nameDoctor.touched">
                      Name doctor can't be left blank.
                    </p>
                    <p style="color: red"
                       *ngIf="patientEdit.controls.nameDoctor.hasError('pattern') && patientEdit.controls.nameDoctor.touched">
                      Name doctor don't enter words.
                    </p>
                  </div>
                </div>

                <label for="issue">Issue <span style="color: red">(*)</span>:</label>
                <textarea formControlName="issue" id="issue" name="issue" class="feedback-input"
                          placeholder="Issue"></textarea>
                <p style="color: red"
                   *ngIf="patientEdit.controls.issue.hasError('required') && patientEdit.controls.issue.touched">
                  Issue can't be left blank.
                </p>

                <label for="solution">Solution <span style="color: red">(*)</span>:</label>
                <textarea formControlName="solution" id="solution" name="issue" class="feedback-input"
                          placeholder="Solution"></textarea>
                <p style="color: red"
                   *ngIf="patientEdit.controls.solution.hasError('required') && patientEdit.controls.solution.touched">
                  Solution can't be left blank.
                </p>
                <div style="display: flex;justify-content:center">
                  <button [disabled]="!patientEdit.valid" style="font-size:25px" type="submit" class="btn btn-success">Submit</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--                     Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div style="font-weight: bolder;font-size: 25px" class="modal-header">
            Return
          </div>
          <div class="modal-body">
            <p style="font-size: 20px">Do you want return to list patient information?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a>
              <button routerLink="/list"  type="button" data-bs-dismiss="modal"
                      class="btn btn-primary">Yes
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>





