<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    <div th:replace="~{layout :: linkCss}"></div>
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
<header th:replace="/layout :: nav"></header>


<main id="main">
    <div class="container">
        <section id="hero-slider" class="hero-slider">
            <div class="container" >
                <div class="row">
                    <div class="col-12">
                        <form action="/customer/edit"  method="POST" th:object="${customer}">
                            <fieldset>
                                <legend>Edit Customer:</legend>
                                <input type="hidden" th:field="*{id}"/>
                                <input th:field="*{name}" name="name" type="text" class="feedback-input" placeholder="Name" />
                                <input th:field="*{dateOfBirth}" name="dateOfBirth" type="date" class="feedback-input" placeholder="Date of Birth" />


                                <select th:field="*{gender}" name="gender">
                                    <option value=""  selected="selected">Please choose gender.</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>

                                <input th:field="*{idCard}"  name="idCard" type="text" class="feedback-input" placeholder="Id card" />

                                <input th:field="*{phoneNumber}" name="phoneNumber" type="text" class="feedback-input" placeholder="Phone number" />
                                <input th:field="*{email}" name="email" type="text" class="feedback-input" placeholder="Email" />

                                <select name="customerType" th:field="*{customerType}">
                                    <option value=""  selected="selected" >Please choose customer type.</option>
                                    <option th:each="temp:${customerTypes}" th:value="${temp.id}"
                                            th:text="${temp.name}" >
                                    </option>
                                </select>
                                <textarea th:field="*{address}"  name="address" class="feedback-input" placeholder="Address" ></textarea>
                                <input type="submit" value="SUBMIT"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>



<footer th:replace="/layout :: end"></footer>

<div th:replace="~{layout :: linkScript}"></div>
</body>
</html>