<main id="main">
  <div class="container">
    <section id="hero-slider" class="hero-slider">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!--            <form class="customMyForm" action="/contract/create" method="POST">-->
            <fieldset>
              <legend>Add Contract</legend>
              <input type="hidden"/>

              <label for="startDate">Start date <span style="color: red">(*)</span>:</label><br>
              <input id="startDate" name="startDate" type="date"
                     class="feedback-input" placeholder="Start date"/>

              <label for="endDate">End date <span style="color: red">(*)</span>:</label><br>
              <input id="endDate" name="endDate" type="date"
                     class="feedback-input" placeholder="End date"/>
              <label for="deposit">Deposit <span style="color: red">(*)</span>:</label>
              <input id="deposit" name="deposit" type="text" class="feedback-input"
                     placeholder="Deposit"/>

              <label for="totalMoney">Total money <span style="color: red">(*)</span>:</label><br>

              <input value="0 đ" id="totalMoney" name="totalMoney" type="text"
                     class="feedback-input"/>

              <!--                                <input id="costFacility" th:value="${contract.facility.cost}" type="hidden">-->
              <!--                                       class="feedback-input"/>-->
              <!--                                <input  id="quantityAttachFacility" th:value="${contract.}"   type="hidden" class="feedback-input"  />-->
              <!--                                <input  id="costAttachFacilityTotalMoney" th:value="${contract.facility.cost}"  type="hidden" class="feedback-input"/>-->

              <label for="customer">Customer <span style="color: red">(*)</span>:</label>
              <select id="customer" name="customer">
                <option value="" selected="selected">Please choose customer.</option>

              </select>
              <label for="facility">Facility <span style="color: red">(*)</span>:</label>
              <select id="facility" name="facility">
                <option value="" selected="selected">Please choose facility.</option>

              </select>
              <label for="employee">Employee <span style="color: red">(*)</span>:</label>
              <select id="employee" name="employee">
                <option value="" selected="selected">Please choose employee.</option>

              </select>


              <input id="attachFacilityId" name="attachFacilityId" type="hidden"
                     class="feedback-input"/>

              <input id="quantity" name="quantity" type="hidden" class="feedback-input"/>


              <input type="submit" value="SUBMIT"/>
            </fieldset>
            <!--            </form>-->
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

