<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
<nav th:replace="/layout :: nav"></nav>
<h1 style="text-align: center"> Edit Service:</h1>
<form>
    <fieldset>
        <legend>Edit Service:</legend>
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT"/>
    </fieldset>

</form>
<script src="/bootstrap-5.1.3-dist/bootstrap.bundle.min.js"></script>
</body>
</html>