<main id="main">
  <div class="container-fluid" style="padding: 0">
    <section id="hero-slider" class="hero-slider" style="padding:0 0 40px 0">

      <div style="padding: 0 12px 0 12px">
        <div style="width: 100%;margin:7px 0 40px 0 ;height: 180px;background-color: #53E0BE">
          <h2
            style="font-size: 80px;margin: 0 ;padding-top: 15px ;color: #142E5E;text-align: center;font-family:Satisfy,sans-serif;font-weight:700;font-style:normal">
            Series Products
          </h2>

          <div style="display: flex;justify-content: center;height: 60px">

            <a routerLink="/add">
              <i style="font-size: 50px;color: #142E5E" class="bi bi-person-plus"></i>
            </a>

            <input [formControl]="idSearch" style="width: 200px;height: 50px" class="form-control me-2"
                   type="search" placeholder="Name" aria-label="Search">

            <button (click)="getSearchListByIdPagination()" style="height: 50px">Search</button>

          </div>
        </div>
      </div>

      <div class="container">
            <!--            <table class="table table-responsive-lg  table-striped table-bordered " *ngIf="(customers ).length > 0; else noResults">-->
            <table class="table table-responsive-lg  table-striped table-bordered " *ngIf="(seriesProducts ).length > 0;">
              <thead>
              <tr class="row-custom" style="background-color: #5DFC9A">
                <th scope="col">Series name</th>
                <th scope="col">Product name</th>
                <th scope="col">Cost</th>
                <th scope="col">Unit</th>
                <th scope="col">Amount</th>
                <th scope="col">Start date</th>
                <th scope="col">Produce date</th>
                <th scope="col">Expiration date</th>
                <th scope="col" colspan="2" style="text-align: center">Option</th>
              </tr>
              </thead>

              <tbody>
              <tr class="row-body-custom" *ngFor="let temp of seriesProducts;index as i">
                <th scope="row"> {{temp.id}}</th>
                <td>{{temp.product.name}}</td>
                <td>{{temp.product.cost }}</td>
                <td>{{temp.product.unit}}</td>
                <td>{{temp.amount}}</td>
                <td>{{temp.startDate| date:"dd-MM-yyyy"}}</td>
                <td>{{temp.produceDate| date:"dd-MM-yyyy"}}</td>

                <td>{{temp.expirationDate| date:"dd-MM-yyyy"}}</td>

                <td>
                  <button (click)="getDataForModal(temp.product.name,temp.id,temp.startDate)" type="button" class="btn " data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                    <i style="background-color: white;color: red;font-size: 22px;padding: 0"
                       class="bi bi-trash-fill" ></i>
                  </button>
                  <!--                     Modal-->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          Delete
                        </div>
                        <div class="modal-body">
                          <p>Bạn có muốn xóa lô hàng {{nameProductModal}} nhập ngày {{startDateProductModal}} </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a>
                            <button (click)="deleteSeriesProduct()" type="button" data-bs-dismiss="modal" class="btn btn-primary">Delete
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              <td>
                <button [routerLink]="['/edit/',temp.id]" type="button" class="btn ">
                  <i style="background-color: white;color: dodgerblue;font-size: 22px;padding: 0"
                     class="bi bi-pencil-square"></i>
                </button>
              </td>
              </tr>
              </tbody>
            </table>

            <div class="container">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" [ngClass]="{'active':i==indexPagination}" *ngFor="let temp of pages;let i =index">
                    <a class="page-link" href="#" (click)="setPage(i,$event)" >{{i+1}}</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
    </section>
  </div>
</main>


