<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/bootstrap.min.css}" type="text/css">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/form.css}">
</head>

<body>

<header th:replace="/layout :: begin"></header>

<!--<div class="section-header d-flex justify-content-between align-items-center mb-5">-->
<!--    <h2>Lifestyle</h2>-->
<!--    <div><a href="category.html" class="more">See All Lifestyle</a></div>-->
<!--</div>-->

<main id="main">
    <div class="container">
        <section>
            <div class="container" >
                <div class="row">
                    <div class="col-12">
                        <form>
                            <fieldset>
                                <legend>Add Employee:</legend>
                                <input name="name" type="text" class="feedback-input" placeholder="Name" />
                                <input name="dateOfBirth" type="date" class="feedback-input" placeholder="Date of Birth" />



                                <input name="idCard" type="text" class="feedback-input" placeholder="ID card" />
                                <input name="salary" type="text" class="feedback-input" placeholder="Salary" />

                                <input name="phoneNumber" type="text" class="feedback-input" placeholder="Phone number" />
                                <input name="email" type="text" class="feedback-input" placeholder="Email" />

                                <select name="position">
                                    <option value="" disabled="1" selected="1">Please choose position type.</option>
                                    <option value="1">Gold</option>
                                    <option value="2">Diamond</option>
                                </select>

                                <select name="educationDegree">
                                    <option value="" disabled="1" selected="1">Please choose education degree type.</option>
                                    <option value="1">Gold</option>
                                    <option value="2">Diamond</option>
                                </select>

                                <select name="division">
                                    <option value="" disabled="1" selected="1">Please choose division type.</option>
                                    <option value="1">Gold</option>
                                    <option value="2">Diamond</option>
                                </select>

                                <textarea  name="address" class="feedback-input" placeholder="Address" ></textarea>
                                <input type="submit" value="SUBMIT"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>




<footer th:replace="/layout ::end"></footer>

<script src="/jquery-3.6.0.min.js"></script>
<script src="/bootstrap-5.1.3-dist/bootstrap.bundle.min.js"></script>
<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>