
<!-- header section starts  -->

<header class="header">

  <div class="header-1">

    <a href="#" class="logo"> <i class="fas fa-book"></i> bookly </a>

    <div class="search-form">
      <input type="search" name="" placeholder="tìm kiếm sản phẩm mong muốn..." id="search-box">
      <label for="search-box" class="fas fa-search"></label>
    </div>


    <div class="icons">
      <div id="search-btn" class="fas fa-search"></div>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
      <div (click)="displayLoginForm()" id="login-btn" class="fas fa-user"></div>
    </div>

  </div>

  <div class="header-2">
    <nav class="navbar">
      <a href="#home">Trang chủ</a>
      <a href="#featured">Danh mục sách</a>
      <a href="#arrivals">Sách bán chạy</a>
      <a href="#reviews">Hàng mới</a>
      <a href="#blogs">Giảm giá đặc biệt</a>
    </nav>
  </div>

</header>

<!-- header section ends -->


<!-- bottom navbar  -->

<nav class="bottom-navbar">
  <a href="#home" class="fas fa-home"></a>
  <a href="#featured" class="fas fa-list"></a>
  <a href="#arrivals" class="fas fa-tags"></a>
  <a href="#reviews" class="fas fa-comments"></a>
  <a href="#blogs" class="fas fa-blog"></a>
</nav>

<!-- login form  -->

<div [ngClass]="loginFormClass" class="login-form-container">

  <div (click)="closeLoginForm()" id="close-login-btn" class="fas fa-times"></div>

<!--  <form action="">-->
  <div class="login-book-store">
    <h3>sign in</h3>
    <span>username</span>
    <input type="email" name="" class="box" placeholder="enter your email" >
    <span>password</span>
    <input type="password" name="" class="box" placeholder="enter your password" >
    <div class="checkbox">
      <input type="checkbox" name="" id="remember-me">
      <label for="remember-me"> remember me</label>
    </div>
    <input type="submit" value="sign in" class="btn">
    <p>forget password ? <a href="#">click here</a></p>
    <p>don't have an account ? <a href="#">create one</a></p>
  </div>
<!--  </form>-->

</div>
