<!-- header section starts  -->
<div (scroll)="onScroll()" class="header">

  <div class="header-1">

    <a routerLink="" href="#" class="logo"> <i class="fas fa-book"></i> bookly </a>

    <div [ngClass]="searchFormClass" class="search-form">
      <input [formControl]="bookSearchForm" type="search" name="" placeholder="tìm kiếm sản phẩm mong muốn..." id="search-box">
      <label (click)="searchBook()" for="search-box" class="fas fa-search"></label>
    </div>

    <div class="icons">
      <div (click)="displaySearchForm()" id="search-btn" class="fas fa-search"></div>
      <a *ngIf="['ROLE_USER'].indexOf(role)!==-1" href="#" class="fas fa-heart"></a>
      <a *ngIf="['ROLE_USER'].indexOf(role)!==-1" [routerLink]="['/customer/history',customer.id]" href="#" class="fa-solid fa-clock-rotate-left"></a>
      <i class=""></i>
      <div *ngIf="['ROLE_USER'].indexOf(role)!==-1" (click)="displayCart()" class="fas fa-shopping-cart"></div>
      <div *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1" class="fa-solid fa-pen-to-square"></div>
      <div *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1" class="fa-solid fa-square-plus"></div>
      <div (click)="displayLoginForm()" id="login-btn" class="fas fa-user" *ngIf="isLoggedIn==false" ></div>
      <a href="" (click)="logOut()" id="logout-btn" class="fa-solid fa-right-from-bracket" *ngIf="isLoggedIn==true">
      </a>
      <a *ngIf="isLoggedIn==true" [routerLink]="['/customer/detail',username]" style="color: #8e44ad;margin: 0;padding: 0;font-weight: bolder">
        {{username}}
      </a>
    </div>
  </div>
  <div [ngClass]="cartClass" class="shopping-cart">
<!--    <div class="box">-->
<!--      <i class="fas fa-times"></i>-->
<!--      <img src="../../assets/image/book-1.png" alt="">-->
<!--      <div class="content">-->
<!--        <h3>organic food</h3>-->
<!--        <span class="quantity">1</span>-->
<!--        <span class="multiply">x</span>-->
<!--        <span class="price">$18.99</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <i class="fas fa-times"></i>-->
<!--      <img src="../../assets/image/book-4.png" alt="">-->
<!--      <div class="content">-->
<!--        <h3>organic food</h3>-->
<!--        <span class="quantity">1</span>-->
<!--        <span class="multiply">x</span>-->
<!--        <span class="price">$18.99</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--      <i class="fas fa-times"></i>-->
<!--      <img src="../../assets/image/book-3.png" alt="">-->
<!--      <div class="content">-->
<!--        <h3>organic food</h3>-->
<!--        <span class="quantity">1</span>-->
<!--        <span class="multiply">x</span>-->
<!--        <span class="price">$18.99</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <h3 class="total"> Tổng tiền : <span>56.97</span> </h3>-->
    <a (click)="displayCart()" routerLink="/cart"  class="btn">Xem giỏ hàng</a>
  </div>

  <div [ngClass]="fixBarClass"  class="header-2">
    <nav class="navbar">
      <a routerLink="" href="">Trang chủ</a>
      <a routerLink="/book" href="">Danh mục sách</a>
      <a href="">Sách bán chạy</a>
      <a href="">Hàng mới</a>
      <a href="">Giảm giá đặc biệt</a>
    </nav>
  </div>
</div>

<!-- header section ends -->




<!-- bottom navbar  -->

<nav class="bottom-navbar">
  <a href="" class="fas fa-home"></a>
  <a href="" class="fas fa-list"></a>
  <a href="" class="fas fa-tags"></a>
  <a href="" class="fas fa-comments"></a>
  <a href="" class="fas fa-blog"></a>
</nav>


<!-- login form  -->

<div [ngClass]="loginFormClass" class="login-form-container">

  <div (click)="closeLoginForm()" id="close-login-btn" class="fas fa-times"></div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="login-book-store">
    <h3>sign in</h3>
    <span>username</span>
    <input type="email" name="" class="box" placeholder="enter your email" formControlName="username" >
    <span>password</span>
    <input type="password" name="" class="box" placeholder="enter your password"  formControlName="password">
    <div class="checkbox">
      <input type="checkbox" name="" id="remember-me" formControlName="remember_me">
      <label for="remember-me"> Ghi nhớ đăng nhập</label>
    </div>
    <input type="submit" value="sign in" class="btn">
    <p>Quên mật khẩu ? <a href="#">Bấm vào đây</a></p>
    <p>Tạo tài khoản mới ? <a href="#">Bấm vào đây</a></p>
  </div>
  </form>
</div>
