<main id="main">

  <div style="padding: 0 12px 0 12px">
    <div class="shadow-custom" style="width: 100%;margin:0;height: 110px;background-color: #cef8e0">
      <div style="height: 100%;display: flex;justify-content: space-between;align-items: center">
        <div style="margin : 0 0 0 20px;width: 600px ">
          <a class="" routerLink="/add" style="margin-left: 20px ">
            <i style="font-size: 40px" class="bi bi-person-plus icon-hover-custom"></i>
          </a>
        </div>
        <div>
          <h2
            style="font-size: 80px;margin: 0 ;padding:0  ;color: #212529;text-align: center;font-family:Satisfy,sans-serif;font-weight:700;font-style:normal">
            Patients
          </h2>
        </div>
        <div style="margin: 0 15px 0 0 ;width: 600px">
          <div class="input-group">
            <input type="date" class="form-control" style="font-size: 25px;margin-right: 12px">
            <input [formControl]="nameSearch" type="text" class="form-control" style="font-size: 25px"
                   placeholder="Search name">
            <div>
              <button (click)="getSearchListByNamePagination()" style="font-size: 25px;" class="btn btn-secondary" type="button">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section style="padding-top: 55px" id="hero-slider" class="hero-slider">
    <div class=" my-container container-fluid">
      <div>
        <table class="table table-responsive-lg table-striped table-bordered table-hover table-shadow">
          <thead>
          <tr class="row-custom" style="background-color: #6de29b">
            <th style="width: 80px;" scope="col">No.</th>
            <th scope="col">
              Id
            </th>
            <th scope="col">Id patient</th>
            <th scope="col">Name patient</th>
            <th scope="col">Start date</th>
            <th scope="col">Out date</th>
            <th scope="col">Issue</th>
            <th scope="col">Solution</th>
            <th scope="col">Name doctor</th>
            <th scope="col" colspan="2" style="text-align: center">Option</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row-body-custom"
              *ngFor="let temp of patientList;index as i">
            <th scope="row"> {{i + 1 + 5 * (indexPagination)}}</th>
            <td>{{temp.idRecord}}</td>
            <td>{{temp.idPatient }}</td>
            <td>{{temp.namePatient}}</td>
            <td>{{temp.startDate| date:"dd-MM-yyyy"}}</td>
            <td>{{temp.outDate| date:"dd-MM-yyyy"}}</td>
            <td>{{temp.issue}}</td>
            <td>{{temp.solution}}</td>
            <td>{{temp.doctor.name}}</td>
            <td style="text-align: center">
              <!-- Button trigger modal -->
              <button (click)="getDataForModal(temp.idRecord)" style="padding: 0;margin: 0" type="button"
                      class="btn button-delete hover-effect-red" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                <i style="font-size: 22px;padding: 0" class="bi bi-trash-fill"></i>
              </button>
            </td>
            <td style="text-align: center;">
              <button [routerLink]="['/edit',temp.idRecord]" style="padding: 0;margin: 0" type="button"
                      class="btn button-edit ">
                <i style="font-size: 22px;padding: 0"
                   class="bi bi-pencil-square"></i>
              </button>
            </td>


            <!--                     Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div style="font-weight: bolder;font-size: 25px" class="modal-header">
                    Delete
                  </div>
                  <div class="modal-body">
                    <p>Do you want delete patient information with id: <span style="color: red"> {{idModal}}</span>?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a>
                      <button (click)="deletePatient()" type="button" data-bs-dismiss="modal"
                              class="btn btn-primary">Delete
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>

        <!--            Hien thi khi khong co du lieu-->
        <ng-template #noResults>
          <table class="table table-hover table-responsive-lg  table-striped table-bordered table-shadow ">
            <thead>
            <tr class="row-custom" style="background-color: #5DFC9A">
              <th style="width: 80px;" scope="col">No.</th>
              <th style="width: 250px;" scope="col">Name</th>
              <th style="width: 120px;" scope="col">Birthday</th>
              <th style="width: 100px ;" scope="col">Gender</th>
              <th scope="col">Id card</th>
              <th scope="col">Phone number</th>
              <th scope="col">Customer type</th>
              <th scope="col">Address</th>
              <th scope="col" colspan="2" style="text-align: center">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-body-custom">
              <td style="text-align: center" colspan="10"> No results found.</td>
            </tr>
            </tbody>
          </table>
        </ng-template>

        <!--            Pagination-->
        <div class="container">
          <nav aria-label="Page navigation example">
            <ul style="font-size: 25px" class="pagination  justify-content-center">
              <!--                  <li class="page-item">-->
              <!--                    <a class="page-link" href="#" aria-label="Previous">-->
              <!--                      <span aria-hidden="true">&laquo;</span>-->
              <!--                    </a>-->
              <!--                  </li>-->
              <li class="page-item" [ngClass]="{'active':i==indexPagination}" *ngFor="let temp of pages;let i =index">
                <a class="page-link" href="#" (click)="setPage(i,$event)">{{i + 1}}</a>
              </li>
              <!--                  <li class="page-item">-->
              <!--                    <a class="page-link" href="#" aria-label="Next">-->
              <!--                      <span aria-hidden="true">&raquo;</span>-->
              <!--                    </a>-->
              <!--                  </li>-->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->
</main>

