@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*body {*/
/*    background: white;*/
/*}*/

.customMyForm {
  max-width: 1250px;
  margin: 50px auto;
  font-family: Helvetica, Arial, sans-serif;
}

label {
  font-size: large;
  font-weight: bold;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #FFFFE0;
  border: 1px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;

}

.modalButton {
  color: white;
  font-size: 30px;
  border-radius: 5px;
  background-color: #007aff;
  border: 1px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 5%;
  box-sizing: border-box;
  outline: 0;
}

select {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #FFFFE0;
  border: 1px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

select:focus {
  border: 1px solid #d92424;
  background-color: #7ee5c6;
}


fieldset {
  color: black;
  border-radius: 5px;
  line-height: 22px;
  padding: 40px;
  border: 2px solid #0f5132;
  box-shadow: 5px 10px #20c997;

}

.feedback-input:focus {
  border: 1px solid #d92424;
  background-color: #7ee5c6;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

legend {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.addNew {
  padding: 0;
  margin: 0;
}

.addNew:hover {
  color: black;
}

.hover-custom:hover {
  color: white;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #0000EE;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #d92424;
}
