

.my-container{
    width: 90%;
}

.card-title{
    font-weight: bold;
}

.card{
    border: none;
}

.card-body{
    background-color: #f4f2f2;
}

#main{
    background-color: white;
}

.btn{
  margin-left: 8px;
}

.row-custom th{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.row-body-custom{
  font-size: 22px;
}


