<main id="main">
  <div class="container">
    <section id="hero-slider" class="hero-slider">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="seriesProductAdd" (ngSubmit)="submit()">
              <fieldset>
                <legend>Add Series Product:</legend>


                <input formControlName="id" name="id" type="text" class="feedback-input" placeholder="Enter id"/>
                <p style="color: red" *ngIf="seriesProductAdd.controls.id.hasError('required') && seriesProductAdd.controls.id.touched">
                  Id can't be left blank.
                </p>
                <p style="color: red" *ngIf="seriesProductAdd.controls.id.hasError('pattern') && seriesProductAdd.controls.id.touched">
                  Invalid format.
                </p>

                <select formControlName="product" name="product">
                  <option value="" disabled selected="selected">Please choose product.</option>
                  <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                </select>
                <p style="color: red" *ngIf="seriesProductAdd.controls.product.hasError('required') && seriesProductAdd.controls.product.touched">
                  Product can't be left blank.
                </p>


                <input formControlName="amount" name="amount" type="text" class="feedback-input" placeholder="Enter amount"/>
                <p style="color: red" *ngIf="seriesProductAdd.controls.amount.hasError('required') && seriesProductAdd.controls.amount.touched">
                  Amount id can't be left blank.
                </p>
                <p style="color: red" *ngIf="seriesProductAdd.controls.amount.hasError('pattern') && seriesProductAdd.controls.amount.touched">
                  Invalid format.
                </p>

                <label for="startDate">Start date:</label><br>
                <input formControlName="startDate" id="startDate" name="startDate" type="date"
                       class="feedback-input"
                       placeholder="startDate"/>
                <p style="color: red" *ngIf="seriesProductAdd.controls.startDate.hasError('required') && seriesProductAdd.controls.startDate.touched">
                  Start Date can't be left blank.
                </p>

                <label for="startDate">Produce Date:</label><br>
                <input formControlName="produceDate" id="produceDate" name="produceDate" type="date"
                       class="feedback-input"
                       placeholder="Produce Date"/>
                <p style="color: red" *ngIf="seriesProductAdd.controls.produceDate.hasError('required') && seriesProductAdd.controls.produceDate.touched">
                  Produce Date can't be left blank.
                </p>

                <label for="expirationDate">Start date:</label><br>
                <input formControlName="expirationDate" id="expirationDate" name="deadDate" type="date"
                       class="feedback-input"
                       placeholder="deadDate"/>
                <p style="color: red" *ngIf="seriesProductAdd.controls.expirationDate.hasError('required') && seriesProductAdd.controls.expirationDate.touched">
                  Dead Date can't be left blank.
                </p>

                <input type="submit" value="SUBMIT"/>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>



