
<main id="main">
  <div class="container">
    <section id="hero-slider" class="hero-slider">
      <div class="container">
        <div class="row">
          <div class="col-12">

<!--            <form [formGroup]="customerEdit"  (ngSubmit)="updateCustomer(id)" *ngIf="customerEdit">-->
<!--              <fieldset>-->
<!--                <legend>Edit Customer:</legend>-->

<!--                &lt;!&ndash;                <input formControlName="id"   type="text" class="feedback-input" placeholder="Id" />&ndash;&gt;-->
<!--                &lt;!&ndash;                <p style="color: red" *ngIf="customerAdd.controls.id.hasError('required') && customerAdd.controls.id.touched">&ndash;&gt;-->
<!--                &lt;!&ndash;                  Id can't be left blank&ndash;&gt;-->
<!--                &lt;!&ndash;                </p>&ndash;&gt;-->

<!--                <input formControlName="name" name="name" type="text" class="feedback-input" placeholder="Name" />-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.name.hasError('required') && customerEdit.controls.name.touched">-->
<!--                  Name can't be left blank.-->
<!--                </p>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.name.hasError('pattern') && customerEdit.controls.name.touched">-->
<!--                  Valid format.-->
<!--                </p>-->

<!--                <label for="dateOfBirth" >Date of birth:</label><br>-->
<!--                <input formControlName="dateOfBirth" id="dateOfBirth"  name="dateOfBirth" type="date" class="feedback-input"-->
<!--                       placeholder="Date of Birth" />-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.dateOfBirth.hasError('required') && customerEdit.controls.dateOfBirth.touched">-->
<!--                  Date of birth can't be left blank.-->
<!--                </p>-->

<!--                <select formControlName="gender"  name="gender">-->
<!--                  <option selected value="" >Please choose gender.</option>-->
<!--                  <option value="Male">Male</option>-->
<!--                  <option value="Female">Female</option>-->
<!--                  <option value="Other">Other</option>-->
<!--                </select>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.gender.hasError('required') && customerEdit.controls.gender.touched">-->
<!--                  Gender can't be left blank.-->
<!--                </p>-->

<!--                <input formControlName="cardId"  name="idCard" type="text" class="feedback-input" placeholder="Id card" />-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.cardId.hasError('required') && customerEdit.controls.cardId.touched">-->
<!--                  Card id can't be left blank.-->
<!--                </p>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.cardId.hasError('pattern') && customerEdit.controls.cardId.touched">-->
<!--                  Valid format.-->
<!--                </p>-->

<!--                <input formControlName="phoneNumber" name="phoneNumber" type="text" class="feedback-input" placeholder="Phone number" />-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.phoneNumber.hasError('required') && customerEdit.controls.phoneNumber.touched">-->
<!--                  Phone number can't be left blank.-->
<!--                </p>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.phoneNumber.hasError('pattern') && customerEdit.controls.phoneNumber.touched">-->
<!--                  Valid format.-->
<!--                </p>-->

<!--                <select formControlName="customerType" name="customerType" >-->
<!--                  <option value="null" disabled  selected="selected" >Please choose customer type.</option>-->
<!--                  <option *ngFor="let customerType of customerTypes" [value]="customerType.id">{{customerType.name}}</option>-->
<!--                </select>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.customerType.hasError('required') && customerEdit.controls.customerType.touched">-->
<!--                  Customer type id can't be left blank.-->
<!--                </p>-->

<!--                <textarea formControlName="address"  name="address" class="feedback-input" placeholder="Address" ></textarea>-->
<!--                <p style="color: red" *ngIf="customerEdit.controls.address.hasError('required') && customerEdit.controls.address.touched">-->
<!--                  Address can't be left blank.-->
<!--                </p>-->
<!--                <input type="submit" value="SUBMIT"/>-->
<!--              </fieldset>-->
<!--            </form>-->
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


