<main id="main">
  <div style="padding: 0 12px 0 12px">
    <div class="shadow-custom" style="width: 100%;margin:0;height: 110px;background-color: #cef8e0">
      <div style="height: 100%;display: flex;justify-content: space-between;align-items: center">

        <div style="margin : 0 0 0 20px;width: 600px ">
          <a routerLink="/contract/add">
            <i style="font-size: 40px" class="bi bi-plus-square icon-hover-custom"></i>
          </a>
          <!--          <a style="margin-left: 20px ">-->
          <!--            <i style="font-size: 40px;" class="bi bi-sort-alpha-down icon-hover-custom"></i>-->
          <!--          </a>-->
          <!--          <a style="margin-left: 20px ">-->
          <!--            <i style="font-size: 40px" class="bi bi-sort-alpha-down-alt icon-hover-custom"></i>-->
          <!--          </a>-->
        </div>

        <div>
          <h2
            style="font-size: 80px;margin: 0;color: #212529;text-align: center;font-family:Satisfy,sans-serif;font-weight:700;font-style:normal">
            Contracts
          </h2>
        </div>

        <div style="margin: 0 15px 0 0 ;width: 600px">
          <div class="input-group">
            <input type="date" class="form-control" style="font-size: 25px;margin-right: 12px">
            <input [formControl]="nameCustomerSearch" type="text" class="form-control" style="font-size: 25px"
                   placeholder="Search name">
            <div>
              <button (click)="getSearchListByNamePagination()" style="font-size: 25px" class="btn btn-secondary"
                      type="button">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section style="padding-top: 55px " id="hero-slider" class="hero-slider">
    <div class="my-container container-fluid">
      <table class="table table-hover table-responsive-lg  table-striped table-bordered table-shadow"
             *ngIf="(contractList).length > 0; else noResults">

        <thead>
        <tr class="row-custom" style="background-color: #6de29b">
          <th scope="col">No.</th>
          <th scope="col">
            Facility
            <i class="bi bi-arrow-up  icon-hover-custom"></i>
            <i class="bi bi-arrow-down  icon-hover-custom"></i>
          </th>
          <th scope="col">Customer</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Deposit</th>
          <th scope="col">Total money</th>
          <th colspan="2" scope="col">Attach facilities</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row-body-custom" *ngFor="let temp of contractList">
          <th>{{temp.id}}</th>
          <td>{{temp.facility.name}}</td>
          <td>{{temp.customer.name}}</td>
          <td>{{temp.startDate}}</td>
          <td>{{temp.endDate}}</td>
          <td>{{temp.deposit}}</td>
          <td>{{temp.totalMoney}}</td>
          <td style="text-align: center">
            <button
              style="width: 45px;margin-right: 20px ;padding: 0;height: 35px;border:  1px solid  #0A58CA;background-color: #0B5ED7"
              type="button" class="btn hover-effect-blue"
              data-bs-toggle="modal" data-bs-target="#addContractDetailModal"
              (click)="getFormContractDetailAdd(temp)">
              <i style="font-size: 25px;padding: 0;color: white" class="bi bi-plus"></i>
            </button>
            <button
              style="position: relative;width: 220px; height: 35px ;border:  1px solid  #0A58CA;background-color: #0B5ED7"
              type="button"
              class="btn hover-effect-blue" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
              (click)="getContractDetailListByContractId(temp.id)">
              <span style="font-size: 22px;width: 220px;color: white;position: absolute;bottom: 2px;right: -1px"> List attach facility</span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>


      <!--       Modal add contract detail-->
      <div class="modal fade" id="addContractDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Attach Facility</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="contractDetailAddForm">
                <label for="attachFacility">Attach facility <span style="color: red">(*)</span>:</label>
                <select formControlName="attachFacility" id="attachFacility" name="attachFacility">
                  <option value="" selected="selected">Please choose a attach facility.</option>
                  <option *ngFor="let attachFacility of attachFacilityList"
                          [ngValue]="attachFacility">{{attachFacility.name}}</option>
                </select>

                <label for="quantity">Quantity <span style="color: red">(*)</span>:</label>
                <input formControlName="quantity" id="quantity" name="quantity" type="text"
                       class="feedback-input"
                       placeholder="Enter quantity"/>
              </form>
            </div>
            <div class="modal-footer">
              <button (click)="saveContractDetail()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal display attach facility -->
      <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-striped"
                     *ngIf="(contractDetailList).length>0;else noContractDetail">
                <tr>
                  <th>Attach facility</th>
                  <th>Quantity</th>
                </tr>
                <tr *ngFor="let contractDetail of contractDetailList">
                  <td>{{contractDetail.attachFacility.name}}</td>
                  <td>{{contractDetail.quantity}}</td>
                </tr>
              </table>

              <ng-template #noContractDetail>
                <table class="table table-hover table-striped">
                  <tr>
                    <th>Attach facility</th>
                    <th>Quantity</th>
                  </tr>
                  <tr>
                    <td style="text-align: center" colspan="2">No results found.</td>
                  </tr>
                </table>
              </ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!--            Hien thi khi khong co du lieu-->
      <ng-template #noResults>
        <table class="table table-hover table-responsive-lg  table-striped table-bordered table-shadow ">
          <thead>
          <tr class="row-custom" style="background-color: #6de29b">
            <th scope="col">No.</th>
            <th scope="col">Facility</th>
            <th scope="col">Customer</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Deposit</th>
            <th scope="col" colspan="2">Option</th>
          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr class="row-body-custom">
            <td colspan="8"> No results found.</td>
          </tr>
          </tbody>
        </table>
      </ng-template>

      <!--    Pagination-->
      <div class="container">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <!--                  <li class="page-item">-->
            <!--                    <a class="page-link" href="#" aria-label="Previous">-->
            <!--                      <span aria-hidden="true">&laquo;</span>-->
            <!--                    </a>-->
            <!--                  </li>-->
            <li class="page-item" [ngClass]="{'active':i==indexPagination}" *ngFor="let temp of pages;let i =index">
              <a class="page-link" href="#" (click)="setPage(i,$event)">{{i + 1}}</a>
            </li>
            <!--                  <li class="page-item">-->
            <!--                    <a class="page-link" href="#" aria-label="Next">-->
            <!--                      <span aria-hidden="true">&raquo;</span>-->
            <!--                    </a>-->
            <!--                  </li>-->
          </ul>
        </nav>
      </div>
    </div>
  </section>
</main>

