<main id="main">
  <div class="container-fluid">
    <section id="hero-slider" class="hero-slider" style="padding:0 0 40px 0">

      <div style="width: 100%;margin:10px 0 40px 0 ;height: 160px;background-color: #0a58ca">
        <h2
          style="font-size: 40px;padding-top: 30px ;color: #ffffff;text-align: center;font-family:Playfair Display,serif;font-weight:700;font-style:normal">
          Contracts
        </h2>
        <div style="display: flex;justify-content: center">
          <a routerLink="/contract/add" class="addNew">
            <i style="font-size: 50px" class="bi bi-plus-square"></i>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Facility</th>
                <th scope="col">Customer</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Deposit</th>
                <th scope="col" colspan="2">Option</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let temp of contractList">
                <th>{{temp.id}}</th>
                <td>{{temp.customer.name}}</td>
                <td>{{temp.facility.name}}</td>
                <td>{{temp.startDate}}</td>
                <td>{{temp.endDate}}</td>
                <td>{{temp.deposit}}</td>
                <td>
<!--                   Button trigger modal-->
                  <button type="button" class="btn-primary">
                    +
                  </button>
<!--                </td>-->
                <!--Modal danh sach dich vu di kem-->
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="attachFacilityModal">
                    List attach facilities
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

